.profile {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.signedin--user--profile{
    width: 100%;
}
.signedin--user--profile_responsive {
  display: none;
}
.user-sidebar_userdetails-responsive {
  display: flex;
  justify-content: start;
  /* padding-left: 40px; */
  /* text-align: left; */
  /* width: 400px; */
  border-radius: 20px;
  gap: 30px;
  /* padding: 40px; */
  background-color: #fff;
  /* padding-bottom: 20px; */
  margin-bottom: 20px;
}
.user-sidebar_userdetails_text {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.user-sidebar_userdetails_text P {
  font-size: 16px;
  font-weight: 400;
}
.user-sidebar_userdetails_heading {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  margin-left: 20px;

}
.user-sidebar_userdetails_heading H1 {
  font-size: 18px;
  font-weight: 500;
}
@media screen and (max-width: 1440px) {
  .signedin--user--profile_main {
    column-gap: 30px;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 1024px) {
  .signedin--user--profile_left {
    display: none;
  }
  .signedin--user--profile_right {
    display: none;
  }
  .signedin--user--profile_center {
    padding-left: 11rem;
  }
  .signedin--user--profile_responsive {
    display: block;
    margin-left: 20px;
  }
  .user-sidebar_userdetails-responsive {
    padding: 20px;
  }
}

@media screen and (max-width: 425px) {
  .signedin--user--profile_center {
    margin-left: 0;
    padding-left: 0;
  }
  .signedin--user--profile_responsive {
    border-radius: 0;
  }
}
@media screen and (max-width: 768px) {
  .signedin--user--profile_center {
    margin-left: 30px;
    padding-left: 0;
  }
  .signedin--user--profile_responsive {
    display: block;
    width: 450px;
    margin-left: 0;
    padding: 0;
  }
}
@media screen and (max-width: 425px) {
  .signedin--user--profile_center {
    margin-left: 0;
    padding-left: 0;
  }
  .profile{
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
  .signedin--user--profile_responsive {
    display: block;
    width: 100%;
    border-radius: 0;
    margin-left: 0;
    padding: 0;
  }
  .signedin--user--profile_main {
    margin: 20px;
  }
  .user-sidebar_userdetails-responsive {
    width: 95%;
    border-radius: 0;
    gap: 30px;
    padding-top: 40px;
    background-color: #fff;
    padding-bottom: 20px;
    margin-bottom: 10px;
  }
}
