
.top{
    width: 100%;
    position: fixed;
  
  
  }
  .component{
    display: flex;
    justify-content: space-between;
  }
 .left{
    width: 370px;  
    margin-top: 51px;
    position: fixed;
  
}
  
.center{
    width: 650px;
    position: absolute;
    margin-left: 280px;
    z-index: -1; 
   
 } 
.right{
    width: 240px;
    position: fixed;
    right: 30px;
    margin-top: 7rem ;
}  

@media only screen and (max-width: 1420px) {
  .component{
    display: flex;
    justify-content: space-between;
  }
 .left{
    width: 200px;  
    margin-top: 51px;
    position: fixed;
  
}
  
.center{
    width: 500px;
    position: absolute;
    margin-left: 200px;
    z-index: -1; 
   
 } 
.right{
    width: 200px;
    position: fixed;
    right: 30px;
    margin-top: 7rem ;
}  

}

@media only screen and (max-width: 1270px) {
  .component{
    display: flex;
    justify-content: space-between;
  }
 .left{
    width: 200px;  
    margin-top: 51px;
    position: fixed;
  
}
  
.center{
    width: 500px;
    position: absolute;
    margin-left: 150px;
    z-index: -1; 
   
 } 
.right{
    width: 200px;
    position: fixed;
    right: 30px;
    margin-top: 7rem ;
}  

}

@media screen and (max-width: 1024px) {
  .left{
    display: none;
  }
  .right{
    display: none;
  }
  .center{
    margin: 0 50px;
   
 
  }

}
 
@media screen and (max-width: 768px){
  .center{
    margin: 0  -90px;
  }
}
 

@media screen and (max-device-width: 480px){
  .center{
    margin-left: -100px;
    padding: 0;
    width: 100%;

  }
}
@media screen and (max-width: 2560px){
  .center{
    
    left: 35rem;
 
   
 } 
}
@media screen and (max-width: 1560px){
  .center{
    
    left: 100px;
 
   
 } 
}
