.profile--pic_story {
  position: relative;
  left: 40px;
  top: -50px;
  width: 195px;
  height: 195px;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid grey;
}
.profile--pic_img {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background-size: cover;
  margin: 1.5px 1.5px;
}
.camera-icon {
  margin: 7px;
}
.camera-icon_box {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: grey;
  position: relative;
  left: 195px;
  top: -100px;
}
@media screen and (max-width: 2560px) {
  .profile--pic_story {
    width: 240px;
    height: 240px;
    border-radius: 50%;
  }
  .camera-icon_box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .camera-icon {
    margin: 12px;
  }
  .profile--pic_img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-size: cover;
    margin: 2px 2px;
  }
}
@media screen and (max-width: 425px) {
  .profile--pic_story {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
    left: 10px;
    top: -80px;
   
  }
  .camera-icon_box {
    position: relative;
    top: -140px;
    left: 165px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .camera-icon {
    margin: 3px;
  }
  .profile--pic_img {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background-size: cover;
    margin: 1.5px 1.5px;
  }
}


