.landing_page {
  width: 100%;
  height: 100vh;
  background-image: url("../../Assets/landingpage.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg_color {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
}

.btn_main button {
  margin: 24px 35px 0px 0px;
  float: right;
}

.signin {
  width: 75px;
  height: 30px;
  background: #ffffff;
  border-radius: 2px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.91);
  cursor: pointer;
  outline: none;
  transition: 0.6s ease-in-out;
}

.signup:hover,
.signin:hover {
  transition: 0.5 ease-in-out;
  background: #ffc21b;
}
.hexagonal_main {
  background-image: url("../../Assets/hexagonal.png");
  background-repeat: no-repeat;
  /* width: 47%;
  height: 90vh; */
  width: 636px;
  height: 535px;
}
.logo_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0px 0px 127px;
}
.logo_h2_parrent {
  display: flex;
}
.logo_h2_child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.logo_heading img {
  width: 295px;
  height: 42px;
}
.logo_heading h2 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-size: 15px;
  color: rgba(255, 255, 255, 1);
}
.qutos h1 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin: 25px 0px 0px 0px;
  color: #ffffff;
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .hexagonal_main {
    width: 650px;
    height: 550px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .hexagonal_main {
    width: 650px;
    height: 550px;
  }
  .logo_heading img {
    width: 270px;
    height: 35px;
  }
  .logo_heading h2 {
    font-weight: 400;

    font-size: 14px;
  }
  .qutos h1 {
    font-weight: 400;
    font-size: 18px;
  }
}

@media only screen and (min-width: 571px) and (max-width: 768px) {
  .hexagonal_main {
    width: 450px;
    height: 320px;
    border-radius: 0px 0px 150px 0px;
  }
  .logo_heading {
    padding: 100px 0px 0px 50px;
  }
  .logo_heading img {
    width: 230px;
    height: 35px;
  }
  .logo_heading h2 {
    font-weight: 400;

    font-size: 13px;
  }
  .qutos h1 {
    font-weight: 400;
    font-size: 16px;
  }
}

@media only screen and (min-width: 424px) and (max-width: 572px) {
  .hexagonal_main {
    width: 320px;
    height: 300px;
    border-radius: 0px 0px 130px 0px;
  }
  .logo_heading {
    padding: 70px 0px 0px 50px;
  }
  .logo_heading img {
    width: 200px;
    height: 29px;
  }
  .logo_heading h2 {
    font-weight: 400;
    line-height: 20px;
    font-size: 12px;
  }
  .qutos h1 {
    font-weight: 500;
    font-size: 15px;
    margin: 25px 0px 0px 0px;
  }
  .logo_heading {
    padding: 50px 0px 0px 0px;
  }
  .btn_main button {
    margin: 20px 23px 0px 60px;
  }
}

@media only screen and (min-width: 374px) and (max-width: 425px) {
  .landing_page {
    width: 100%;
    height: 100vh;
    background-image: url("../../Assets/landingpage.png");

    background-size: cover;
  }
  .hexagonal_main {
    width: 280px;
    height: 220px;
    border-radius: 0px 0px 100px 0px;
  }
  .logo_heading img {
    width: 160px;
    height: 23px;
  }
  .logo_heading h2 {
    font-weight: 400;
    line-height: 14px;
    font-size: 10px;
  }
  .qutos h1 {
    font-weight: 500;
    font-size: 13px;
    margin: 25px 0px 0px 0px;
  }
  .logo_heading {
    padding: 50px 0px 0px 0px;
  }
  .btn_main button {
    margin: 20px 23px 0px 0px;
  }
}
@media only screen and (min-width: 319px) and (max-width: 375px) {
  .landing_page {
    width: 100%;
    height: 100vh;
    background-image: url("../../Assets/landingpage.png");
    background-size: cover;
  }
  .hexagonal_main {
    width: 240px;
    height: 170px;
    border-radius: 0px 0px 50px 0px;
  }
  .logo_heading img {
    width: 150px;
    height: 20px;
  }
  .logo_heading h2 {
    font-weight: 400;
    line-height: 14px;
    font-size: 10px;
  }
  .qutos h1 {
    font-weight: 400;
    font-size: 12px;
    margin: 25px 0px 0px 0px;
  }
  .logo_heading {
    padding: 50px 0px 0px 0px;
  }
  .signin {
    width: 60px;
    height: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
  }
  .btn_main button {
    margin: 20px 15px 0px 30px;
  }
}

@media only screen and (max-width: 320px) {
  .landing_page {
    width: 100%;
    height: 100vh;
    background-image: url("../../Assets/landingpage.png");
    background-size: cover;
  }
  .hexagonal_main {
    width: 220px;
    height: 180px;
    border-radius: 0px 0px 50px 0px;
  }
  .logo_heading img {
    width: 140px;
    height: 20px;
  }
  .logo_heading h2 {
    font-weight: 400;
    line-height: 14px;
    font-size: 9px;
  }
  .qutos h1 {
    font-weight: 400;
    font-size: 11px;
    margin: 25px 0px 0px 22px;
    display: flex;
    align-items: center;
  }
  .logo_heading {
    padding: 50px 0px 0px 0px;
  }
  .signin {
    width: 55px;
    height: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
  }
  .btn_main button {
    margin: 20px 15px 0px 50px;
  }
}
