.cover-post-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 320px) {
  .cover-post-img {
    height: 250px;
  }
}
@media screen and (max-width: 375px) {
  .cover-post-img {
    height: 300px;
  }
}
